name: issue_data_getter
on:
  issues:
    types: [opened, edited] # 触发时机：Issue被创建/编辑时

permissions:
  issues: write # 可以回复issue

jobs:
  handle_issue:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          working-directory: ./task
      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version-file: "./task/.python-version"
      - name: Run script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_NUMBER: ${{ github.event.issue.number }} # 当前触发的Issue编号
          REPO_FULL_NAME: ${{ github.repository }} # 仓库名（hfdy0935/no2_estimating_system）
          EMAIL_SERVICE_CODE: ${{ secrets.EMAIL_SERVICE_CODE }} # 邮箱验证码
        run: |
          cd ./task
          uv run handle_issue.py
